<div class="container background-image">
    <div class="row justify-content-center">
        <div class="row justify-content-center">
            <div class="col-md-6 text-center">
                <p style="color: black; font-size: 20px; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
                    <b>Olvidaste la contraseña? No te preocupes</b>
                </p>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-6 text-center">
                <div class="form-outline mb-3">
                    <input name="correo" type="email" id="form2Example1" class="form-control mb-2" [(ngModel)]="email"
                        autocomplete="email">
                    <label class="form-label" for="form2Example1" style="color: #000; font-size: 12px;"><b>Introduce el
                            correo
                            electronico de tu cuenta de PescaAstur</b></label>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-6 text-center">
                <button type="button" data-mdb-button-init="" data-mdb-ripple-init=""
                    class="btn btn-primary btn-block col-md-4" data-mdb-button-initialized="true" (click)="sendPasswordReset()" style="font-size: 10px;">Recuperar
                    contraseña</button>
            </div>
        </div>
    </div>
</div>