<form>
    <div class="container background-image">
        <div class="row justify-content-center">
            <!-- Email input -->
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="form-outline mb-4">
                        <input name="correo" type="email" id="form2Example1" class="form-control mb-2"
                            [(ngModel)]="email" autocomplete="email" style="margin-top: 100px;">
                        <label class="form-label" for="form2Example1" style="margin-left: 0px; color: #000;"><b>Correo
                                electrónico</b></label>
                        <div *ngIf="emailError" style="color: darkred;"><b>{{ emailError }}</b></div>
                    </div>
                </div>
            </div>
            <!-- Password input -->
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="form-outline mb-4">
                        <div class="input-group">
                            <input [type]="passwordFieldType" name="contraseña" id="form2Example2" class="form-control"
                                   [(ngModel)]="password" autocomplete="current-password">
                            <button type="button" class="btn btn-outline-secondary" (click)="togglePasswordVisibility()">
                                <i [class]="passwordFieldType === 'password' ? 'fa fa-eye-slash' : 'fa fa-eye'"></i>
                            </button>
                        </div>
                        <label class="form-label" for="form2Example2" style="margin-left: 0px; color: #000;"><b>Contraseña</b></label>
                        <div *ngIf="passwordError" style="color: darkred;"><b>{{ passwordError }}</b></div>
                    </div>
                </div>
            </div>
            <!-- 2 column grid layout for inline styling -->
            <div class="row justify-content-center">
                <div class="col-md-3">
                    <!-- Checkbox -->
                    <div class="form-check">
                        <input class="form-check-input" name="recuerdame" type="checkbox" id="rememberCheckbox" [(ngModel)]="rememberMe" (change)="saveCheckboxState()">
                        <label class="form-check-label" for="form2Example31" style="color: #000;">
                            <b>Recuerdame</b></label>
                    </div>
                </div>

                <div class="col-md-4">
                    <!-- Simple link -->
                    <a type="button" [routerLink]="'/password-reset'"><b>Olvidaste la contraseña?</b></a>
                </div>
            </div>

            <!-- Submit button -->
            <div class="row justify-content-center" style="margin-top: 20px;">
                <button type="button" data-mdb-button-init="" data-mdb-ripple-init=""
                    class="btn btn-primary btn-block col-md-4" data-mdb-button-initialized="true"
                    (click)="login()">Acceder</button>
                <div *ngIf="generalError" style="color: darkred;"><b>{{ generalError }}</b></div>
            </div>
            <!-- Register buttons -->
            <div class="text-center">
                <p style="color: #000;"><b>Aun no estas registrado?</b><a href="#!"><b> Registrate!</b></a></p>
                <p style="color: #000;"><b>O conectate con:</b></p>
                <button type="button" data-mdb-button-init="" data-mdb-ripple-init=""
                    class="btn btn-link btn-floating mx-1 active" data-mdb-button-initialized="true"
                    aria-pressed="true">
                    <i class="fab fa-facebook-f"></i>
                </button>

                <button type="button" data-mdb-button-init="" data-mdb-ripple-init=""
                    class="btn btn-link btn-floating mx-1 active" data-mdb-button-initialized="true"
                    aria-pressed="true">
                    <i class="fab fa-google"></i>
                </button>

                <button type="button" data-mdb-button-init="" data-mdb-ripple-init=""
                    class="btn btn-link btn-floating mx-1" data-mdb-button-initialized="true">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-twitter-x" viewBox="0 0 16 16">
                        <path
                            d="M12.6.75h2.454l-5.36 6.142L16 15.25h-4.937l-3.867-5.07-4.425 5.07H.316l5.733-6.57L0 .75h5.063l3.495 4.633L12.601.75Zm-.86 13.028h1.36L4.323 2.145H2.865z" />
                    </svg>
                </button>

                <button type="button" data-mdb-button-init="" data-mdb-ripple-init=""
                    class="btn btn-link btn-floating mx-1" data-mdb-button-initialized="true">
                    <i class="fab fa-instagram"></i>
                </button>
            </div>
        </div>
    </div>
</form>