.background-image {
    background-image: url('../../assets/images/fondologin.jpeg'); /* Ruta de la imagen de fondo */
    background-color: darkgreen; /* Color de fondo de respaldo */
    background-size: 60%; /* Ajusta el tama침o para cubrir el contenedor */
    background-repeat: no-repeat; /* Evita la repetici칩n de la imagen */
    background-position: center; /* Posici칩n centrada */
    height: 100vh; /* Altura del 100% de la ventana */
    width: 100vw; /* Ancho del 100% de la ventana */
    margin: 0; /* Sin m치rgenes externos */
    display: flex; /* Usa el modelo de caja flexible */
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
}