<section class="h-100 h-custom" style="background-color: #eee;">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col">
                <div class="card">
                    <div class="card-body p-4">

                        <div class="row">

                            <div class="col-lg-6">
                                <h5 class="mb-3"><a routerLink="/productlist" class="text-body"><i
                                            class="fas fa-long-arrow-alt-left me-2"></i>Continuar comprando</a></h5>
                                <hr>

                                <div class="d-flex justify-content-between align-items-center mb-4">
                                    <div>
                                        <p class="mb-0">Tienes {{products.length}} items en tu carro</p>
                                    </div>
                                    <div>
                                        <p class="mb-0"><span class="text-muted">Ordenar por:</span> <button
                                                (click)="ordenarPrecio()" class="text-body btn btn-link p-0">precio <i
                                                    class="fas fa-angle-down mt-1"></i></button></p>
                                    </div>
                                </div>

                                <div *ngIf="products.length > 0" class="card mb-3">
                                    <div *ngFor="let product of products">
                                        <div class="card-body">
                                            <div class="d-flex justify-content-between">
                                                <div class="d-flex flex-row align-items-center">
                                                    <div>
                                                        <img src="{{product.imagenURL}}" class="img-fluid rounded-3"
                                                            alt="Shopping item" style="width: 65px;">
                                                    </div>
                                                    <div class="ms-3">
                                                        <h5>{{product.nombre}}</h5>
                                                        <p class="small mb-0">
                                                            {{product.descripcion}}</p>
                                                    </div>
                                                    <div class="d-flex flex-row align-items-center">
                                                        <div style="width: 50px;">
                                                            <h5 class="fw-normal mb-0">{{product.cantidad}}
                                                            </h5>
                                                        </div>
                                                        <div style="width: 80px;">
                                                            <h5 class="mb-0">
                                                                {{calcularPrecio(product.precio,product.cantidad)}}€
                                                            </h5>
                                                        </div>
                                                        <button class="btn btn-link p-0" style="color: #cecece;"
                                                            (click)="borrarProducto(product)"><i
                                                                class="fas fa-trash-alt"></i></button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <button *ngIf="products.length > 0" type="button" data-mdb-button-init data-mdb-ripple-init
                                    class="btn btn-info btn-block btn-lg" routerLink="/checkOut">
                                    <div class="d-flex justify-content-between">
                                        <span>Realizar pedido <i class="fas fa-long-arrow-alt-right ms-2"></i></span>
                                    </div>
                                </button>
                            </div>

                        </div>
                    </div>

                </div>

            </div>

        </div>
    </div>
</section>