<div class="container background-image">
    <form action="" id="wizard">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="form-group" style="margin-top: 10px;">
                    <label for="profilePhoto">Subir foto de perfil:</label>
                    <div class="input-with-preview">
                        <div class="image-preview-frame">
                            <!-- Aquí se mostrará la previsualización de la imagen cargada -->
                            <img id="imagePreview" src="assets/images/avatar.png" alt="Imagen de perfil"
                                style="max-width: 100px; max-height: 100px;">
                        </div>
                        <div class="input-group">
                            <div class="custom-file">
                                <input name="image" type="file" class="custom-file-input" id="profilePhoto"
                                    accept="image/*" (change)="onFileSelected($event)">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="form-row form-group" style="margin-top: 10px;">
                    <div class="form-holder">
                        <div class="input-with-icon">
                            <i class="fas fa-user"></i>
                            <input name="name" type="text" class="form-control" placeholder="Nombre" [(ngModel)]="name">
                        </div>
                    </div>
                    <div class="form-holder" style="margin-top: 10px;">
                        <div class="input-with-icon">
                            <i class="fas fa-user"></i>
                            <input name="lastName" type="text" class="form-control" placeholder="Apellidos"
                                [(ngModel)]="lastName">
                        </div>
                    </div>
                    <div class="form-holder" style="margin-top: 10px;">
                        <div class="input-with-icon">
                            <i class="fas fa-user"></i>
                            <input name="dni" type="text" class="form-control" placeholder="DNI" [(ngModel)]="dni">
                        </div>
                    </div>
                    <div class="form-holder" style="margin-top: 10px;">
                        <div class="input-with-icon">
                            <i class="fas fa-user"></i>
                            <input name="userName" type="text" class="form-control" placeholder="Nombre de usuario"
                                [(ngModel)]="userName">
                        </div>
                    </div>
                    <div class="form-holder" style="margin-top: 10px;">
                        <div class="input-with-icon">
                            <i class="fas fa-lock"></i>
                            <input name="password" type="password" class="form-control" placeholder="Contraseña"
                                [(ngModel)]="password">
                        </div>
                    </div>
                    <div class="form-holder" style="margin-top: 10px;">
                        <div class="input-with-icon">
                            <i class="fas fa-lock"></i>
                            <input name="passwordConfirm" type="password" class="form-control"
                                placeholder="Repite la Contraseña" [(ngModel)]="confirmPassword">
                        </div>
                    </div>
                    <div class="form-holder" style="margin-top: 10px;">
                        <div class="input-with-icon">
                            <i class="fas fa-envelope"></i>
                            <input name="email" type="text" class="form-control" placeholder="Email"
                                [(ngModel)]="email">
                        </div>
                    </div>
                    <div class="form-holder" style="margin-top: 10px;">
                        <div class="input-with-icon">
                            <i class="fas fa-mobile-alt"></i>
                            <input name="phone" type="text" class="form-control" placeholder="Número de telefono"
                                [(ngModel)]="phone">
                        </div>
                    </div>
                    <div class="form-holder" style="margin-top: 10px;">
                        <div class="input-with-icon">
                            <i class="fas fa-map-marker-alt"></i>
                            <input name="address" type="text" class="form-control" placeholder="Dirección"
                                [(ngModel)]="address">
                        </div>
                    </div>
                    <div class="form-holder" style="margin-top: 10px;">
                        <div class="input-with-icon">
                            <i class="fas fa-address-card"></i>
                            <input name="postalCode" type="number" class="form-control" placeholder="Código postal"
                                [(ngModel)]="postalCode">
                        </div>
                    </div>
                    <div class="form-holder" style="margin-top: 10px;">
                        <div class="input-with-icon">
                            <i class="fas fa-globe"></i>
                            <input name="country" type="text" class="form-control" placeholder="Pais"
                                [(ngModel)]="country">
                        </div>
                    </div>
                    <div class="form-holder" style="margin-top: 10px;">
                        <div class="input-with-icon">
                            <i class="fas fa-globe"></i>
                            <input name="provincia" type="text" class="form-control" placeholder="Provincia"
                                [(ngModel)]="provincia">
                        </div>
                    </div>
                    <div class="form-row" style="margin-top: 10px;">
                        <div class="form-holder">
                            <div class="input-with-icon">
                                <i class="fas fa-globe"></i>
                                <input name="city" type="text" class="form-control" placeholder="Ciudad"
                                    [(ngModel)]="city">
                            </div>
                        </div>
                    </div>
                    <div class="form-holder" style="margin-top: 10px;">
                        <div class="input-with-icon">
                            <i class="fas fa-language"></i>
                            <input name="preferLanguage" type="text" class="form-control" placeholder="Idioma"
                                [(ngModel)]="preferLanguage">
                        </div>
                    </div>
                    <div class="form-row" style="margin-top: 10px;">
                        <div class="input-with-icon">
                            <i class="fas fa-calendar-alt"></i>
                            <input id="dateOfBirth" name="dateOfBirth" type="text" class="form-control"
                                placeholder="Fecha de nacimiento" [(ngModel)]="birthDate" bsDatepicker
                                [bsConfig]="bsConfig">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div class="row justify-content-center">
        <div class="col-5 col-sm-3" style="margin-top: 30px; margin-left: 50px;">
            <button type="button" class="btn btn-primary" (click)="register()">Registrarse</button>
        </div>
        <div class="col-5 col-sm-3" style="margin-top: 30px;">
            <button type="button" class="btn btn-danger" [routerLink]="'/login'">Cancelar</button>
        </div>
    </div>
</div>