.input-group-text {
    display: flex;
    align-items: center;
}

.form-control {
    height: 100%;
}

.input-with-icon {
    position: relative;
}

.input-with-icon i {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #888;
}

.input-with-icon .form-control {
    padding-left: 30px; /* Ajusta este valor según el tamaño del ícono y el margen deseado */
}
/* Estilos personalizados para el datepicker */
.bs-datepicker {
    font-size: 14px; /* Tamaño de la fuente */
}

.bs-datepicker-container {
    width: 250px; /* Ancho del contenedor del datepicker */
}

/* Clase para el contenedor oscuro del datepicker */
.theme-dark {
    background-color: #343a40; /* Color de fondo oscuro */
    color: #ffffff; /* Color del texto */
  }
  
  /* Estilos específicos para el datepicker */
  .theme-dark .bs-datepicker {
    background-color: #343a40; /* Color de fondo del calendario */
    color: #ffffff; /* Color del texto del calendario */
  }
  
  /* Cambiar el color de los días del calendario */
  .theme-dark .bs-datepicker td,
  .theme-dark .bs-datepicker td.active {
    color: #ffffff; /* Color del texto de los días */
  }
  
  .theme-dark .bs-datepicker td.active {
    background-color: #007bff; /* Color de fondo del día activo */
  }
  
  .theme-dark .bs-datepicker td:hover {
    background-color: rgba(255, 255, 255, 0.1); /* Color de fondo al pasar el mouse */
  }
  
  /* Cambiar el color de los días no seleccionables */
  .theme-dark .bs-datepicker td.disabled {
    color: rgba(255, 255, 255, 0.5); /* Color de texto para días no seleccionables */
  }
  
  /* Cambiar el color de los encabezados */
  .theme-dark .bs-datepicker .dow {
    background-color: #495057; /* Fondo de los encabezados */
    color: #ffffff; /* Color del texto de los encabezados */
  }
  /* Cambiar el cursor a pointer al pasar el mouse sobre los días del calendario */
.theme-dark .bs-datepicker td {
    cursor: pointer !important; /* Forzar el cursor a pointer */
}
.input-group.date .form-control {
    height: 36px; /* Altura del input */
}
/* Ajuste de posición del datepicker */
.bs-datepicker-container {
    top: 20px; /* Posición desde la parte superior */
    left: 50%; /* Posición desde la izquierda */
    transform: translateX(-50%); /* Centrar horizontalmente */
}
/* Estilos para cambiar el cursor en los días del calendario */
.bs-datepicker-body table > tbody > tr > td.day:not(.disabled) {
    cursor: pointer; /* Cambia el cursor a tipo botón */
}
/* Estilos para el marco de la imagen y el input */
.input-with-preview {
    display: flex;
    align-items: center;
}

.image-preview-frame {
    width: 100px; /* Ajusta el ancho del marco de la imagen según tus necesidades */
    height: 100px; /* Ajusta la altura del marco de la imagen según tus necesidades */
    object-fit: cover; /* Ajusta el tamaño y recorte de la imagen */
    border: 2px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px; /* Espacio entre el marco de la imagen y el input */
}
.custom-file-label::after {
    content: none; /* Oculta el texto "Ningún archivo seleccionado" */
}

.background-image {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('../../assets/images/fondoregistro.jpg');
    width: 100%;
    height: 100%;
}




