.card {
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    background-color: #ccccccb7;
  }
.card-img-top {
    width: 100px;
    height: 100px;
    object-fit: contain;
}

.card-img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px; /* Ajusta la altura según sea necesario */
}

.filters-container {
    background-color: #f8f9fa;
    padding: 15px;
    border-radius: 5px;
}

.filter-item {
    margin-bottom: 15px;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.container-fluid {
    padding: 0;
}

.row {
    margin: 0;
    padding: 0;
}

h4.mb-3 {
    margin-top: 0; /* Para eliminar el margen superior y asegurar que los filtros comiencen justo debajo de la palabra "Filtros" */
}

.navbar {
    height: 100%;
    padding-top: 0px; /* Ajusta según sea necesario */
}

.navbar-brand {
    margin-left: 0.5rem;
    width: 100%;
    text-align: center;
}

.navbar-nav {
    flex-direction: column;
    width: 100%;
}

.nav-item {
    margin-bottom: 1rem;
}

.card-clickable {
    cursor: pointer;
}

.quantity-controls {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
  }
.quantity-controls button {
    background-color: orangered;
    color: white;
    border: none;
    cursor: pointer;
    margin: 0 5px;
  }
  
  .quantity-controls button:hover {
    background-color: #ff7300;
  }
  
  .quantity-controls span {
    font-size: 16px;
    width: 30px;
    text-align: center;
  }

  input[type="number"] {
    width: 35%; /* Ajustar el tamaño del input */
    height: 0%; /* Ajustar el tamaño del input */
    padding: 10px;
    font-size: 16px;
    color: #333; /* Color del texto */
    background-color: #f9f9f9; /* Fondo */
    border: 1px solid #ccc; /* Borde */
    border-radius: 5px; /* Borde redondeado */
    outline: none; /* Eliminar borde azul al enfocar */
    box-shadow: none; /* Eliminar sombras predeterminadas */
    -moz-appearance: textfield; /* Eliminar el estilo predeterminado de Firefox */
}

.no-underline {
    text-decoration: none; /* Elimina el subrayado */
}
  
