<!-- home.component.html -->
<div class="background">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-md-10">
          <h1 class="text-center">Bienvenido a la página de inicio</h1>
          <p class="text-center">Aquí encontrarás las últimas noticias de la actualidad de campeonatos de pesca en Asturias</p>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-12 col-md-10">
          <div *ngIf="noticias.length > 0">
            <ul class="list-unstyled">
              <li *ngFor="let noticia of noticias; let i = index">
                <div class="row">
                  <div *ngIf="tieneImagen(noticia)" class="col-4">
                    <img [src]="obtenerImagen(noticia)" alt="Imagen de la noticia" class="img-fluid" (error)="onImagenError($event, i)" (load)="onImagenCargada(i)">
                  </div>
                  <div class="col-8 mb-3">
                    <h4>{{ noticia.title }}</h4>
                    <p>{{ noticia.snippet }}</p>
                    <a [href]="noticia.link" target="_blank">Leer más</a>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  
   